<!----------- 
    Addon Stylesheet
------------->
<style>
    nav {
        background-color: #60a5fa;
        position: absolute;
        z-index: 30;
        --tw-ring-shadow: none;
    }
    
    nav #mobile-menu>div>a,
    nav #mobile-menu>div>div>a {
        color: white;
    }
</style>

<!----------- 
    Content
------------->

<!-- Hero - Header -->
<section class="w-full bg-blue-400 px-6 lg:px-8 h-full relative">
    <div class="z-10 relative h-full flex flex-col justify-center items-center">
        <div class="w-full mx-auto mb-5 text-center md:w-10/12">
            <img src="../assets/img/icons/linear-colour/053-ship.svg" class="w-full rounded-lg max-h-52">
        </div>
        <div class="w-full mx-auto text-left md:w-11/12 xl:w-9/12 md:text-center f-rubik">
            <h1 class="mb-6 text-4xl font-extrabold leading-tight sm:leading-none tracking-normal text-white md:text-6xl md:tracking-tight">
                From a
                <span class="bg-white bg-opacity-20 px-3 rounded-md">dream</span> to a mission.
            </h1>
            <p class="px-0 mb-6 text-lg text-white md:text-xl lg:px-24">
                Foxxy was created as a goal to make it easier for people to get various things in one place at a low price.
            </p>
        </div>
    </div>

    <div class="absolute top-0 left-0 z-1 w-full h-full">
        <svg height="100%" width="100%" id="bg-svg" viewBox="0 0 1440 600" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
                <path
                    d="M 0,600 C 0,600 0,200 0,200 C 118.67942583732057,183.9043062200957 237.35885167464113,167.80861244019138 330,167 C 422.64114832535887,166.19138755980862 489.24401913875613,180.66985645933013 565,175 C 640.7559808612439,169.33014354066987 725.6650717703347,143.51196172248802 837,154 C 948.3349282296653,164.48803827751198 1086.0956937799044,211.28229665071768 1191,225 C 1295.9043062200956,238.71770334928232 1367.9521531100477,219.35885167464116 1440,200 C 1440,200 1440,600 1440,600 Z"
                    stroke="none" stroke-width="0" fill="#2563eb88"
                    class="transition-all duration-300 ease-in-out delay-150">
                </path>
                <path
                    d="M 0,600 C 0,600 0,400 0,400 C 108.19138755980862,375.55023923444975 216.38277511961724,351.1004784688995 318,367 C 419.61722488038276,382.8995215311005 514.6602870813397,439.1483253588517 598,433 C 681.3397129186603,426.8516746411483 752.9760765550241,358.30622009569373 832,347 C 911.0239234449759,335.69377990430627 997.4354066985645,381.6267942583732 1100,400 C 1202.5645933014355,418.3732057416268 1321.2822966507179,409.18660287081343 1440,400 C 1440,400 1440,600 1440,600 Z"
                    stroke="none" stroke-width="0" fill="#2563ebff"
                    class="transition-all duration-300 ease-in-out delay-150">
                </path>
            </svg>
    </div>
</section>

<!-- Sections - About -->
<section class="container max-w-screen-xl mx-auto px-6 lg:px-8 py-20 f-rubik space-y-8 my-24">
    <div class="space-y-4 text-center">
        <div class="w-full flex items-center justify-center">
            <div class="w-16 h-16 mb-3 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 flex-shrink-0">
                <img src="../assets/img/icons/linear-colour/012-laptop.svg">
            </div>
        </div>
        <h3 class="text-3xl font-bold leading-none sm:text-5xl">How we started</h3>
        </p>
        <div>
            <hr class="w-24 mx-auto border-t-4 border-gray-300 mt-8" />
        </div>
    </div>

    <p class="text-lg sm:text-xl text-gray-600">
        Foxxy is a digital online shop established in Indonesia in 2021. After the founder, Rafly Maulana, found that the market demand to products like streaming account, game voucher, etc. is high, he decided to start Foxxy as his first project, as well as
        a bussiness.
    </p>

    <p class="text-lg sm:text-xl text-gray-600">
        But, over time, we understand how our potential buyers like products at low prices. Therefore, we started working with other traders to get products at low prices with ⎯ of course ⎯ good quality.
    </p>

    <p class="text-lg sm:text-xl text-gray-600">
        Not to forget, we also expand the variety of our sales products so that our prospective buyers will very easily get the product they want in one place.
    </p>

</section>


<!-- Features - Missions -->
<section class="container max-w-screen-xl mx-auto px-6 lg:px-8 py-12 f-rubik space-y-16 mb-12">
    <div class="space-y-4 text-center">
        <div class="w-full flex items-center justify-center">
            <div class="w-16 h-16 mb-3 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 flex-shrink-0">
                <img src="../assets/img/icons/linear-colour/017-note.svg">
            </div>
        </div>
        <h3 class="text-3xl font-bold leading-none sm:text-5xl">Our Missions</h3>
        <p class="max-w-xl mx-auto text-gray-600">See our target in the future to give you better experience at our services.
        </p>
        <div>
            <hr class="w-24 mx-auto border-t-4 border-gray-300 mt-8" />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
        <div>
            <img src="../assets/img/icons/linear-colour/044-discount.svg" class="max-h-12">
            <h1 class="mt-4 text-2xl font-semibold text-gray-900">Cheap Price</h1>
            <p class="mt-2 text-gray-600">We know that price is the number one problem when we want to buy a product. Therefore, here we strive to provide every product we have at low prices but with the best quality.
            </p>
        </div>

        <div>
            <img src="../assets/img/icons/linear-colour/015-headset.svg" class="max-h-12">
            <h1 class="mt-4 text-2xl font-semibold text-gray-900">High Quality Customer Service</h1>
            <p class="mt-2 text-gray-600">When we have received our purchased product, we often receive various kinds of errors in the product. Therefore we will continue to present the best help center in order to provide the best service to each of our customers.</p>
        </div>

        <div>
            <img src="../assets/img/icons/linear-colour/053-ship.svg" class="max-h-12">
            <h1 class="mt-4 text-2xl font-semibold text-gray-900">Large Scale of Products</h1>
            <p class="mt-2 text-gray-600">There is no need to explore various kinds of stores to get various kinds of products and compare to get the cheapest prices. Here we will continue to increase the variant of our products.
            </p>
        </div>

        <div>
            <img src="../assets/img/icons/linear-colour/051-delivery.svg" class="max-h-12">
            <h1 class="mt-4 text-2xl font-semibold text-gray-900">Large Scale of Customers</h1>
            <p class="mt-2 text-gray-600">We also want to meet a wide variety of customers from different backgrounds so that we can enlarge our sales experience and improve the quality of our sales.</p>
        </div>
    </div>
</section>

<!-- Sections - Teams -->
<section class="container max-w-screen-xl mx-auto px-6 lg:px-8 py-12 f-rubik space-y-16">
    <div class="space-y-4 text-center">
        <div class="w-full flex items-center justify-center">
            <div class="w-16 h-16 mb-3 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 flex-shrink-0">
                <img src="../assets/img/icons/linear-colour/041-customer service.svg">
            </div>
        </div>
        <h3 class="text-3xl font-bold leading-none sm:text-5xl">Meet Our Team</h3>
        <p class="max-w-xl mx-auto text-gray-600">Have a lookup at our creative people at Foxxy that happen to make this possible!
        </p>
        <div>
            <hr class="w-24 mx-auto border-t-4 border-gray-300 mt-8" />
        </div>
    </div>

    <div class="grid gap-10 w-full lg:grid-cols-2">
        <div class="grid sm:grid-cols-3">
            <div class="relative w-full h-48 max-h-full rounded shadow sm:h-auto">
                <img class="absolute object-cover w-full h-full rounded" src="https://avatars.githubusercontent.com/raflymln" />
            </div>
            <div class="flex flex-col justify-center mt-5 sm:mt-0 sm:p-5 sm:col-span-2">
                <p class="text-lg font-bold">Rafly Maulana</p>
                <p class="mb-4 text-xs text-gray-800">Founder, UI/UX, Fullstack Developer, Designer</p>
                <!-- <p class="mb-4 text-sm tracking-wide text-gray-800"></p> -->
                <div class="flex items-center space-x-3">
                    <a class="text-gray-500 cursor-pointer hover:opacity-80" href="https://discordapp.com/users/231721153444446208">
                        <i class="fab fa-discord m-1"></i>
                    </a>
                    <a class="text-gray-500 cursor-pointer hover:opacity-80" href="https://twitter.com/raflymln_">
                        <i class="fab fa-twitter m-1"></i>
                    </a>
                    <a class="text-gray-500 cursor-pointer hover:opacity-80" href="https://www.instagram.com/raflymln_/">
                        <i class="fab fa-instagram m-1"></i>
                    </a>
                    <a class="text-gray-500 cursor-pointer hover:opacity-80" href="https://github.com/raflymln">
                        <i class="fab fa-github m-1"></i>
                    </a>
                    <a class="text-gray-500 cursor-pointer hover:opacity-80" href="mailto:mraflymaulana@gmail.com">
                        <i class="fa fa-envelope m-1"></i>
                    </a>
                    <a class="text-gray-500 cursor-pointer hover:opacity-80" href="https://raflymaulana.me/">
                        <i class="fa fa-globe m-1"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="grid sm:grid-cols-3">
            <div class="relative w-full h-48 max-h-full rounded shadow sm:h-auto">
                <img class="absolute object-cover w-full h-full rounded" src="https://avatars.githubusercontent.com/kagchi" />
            </div>
            <div class="flex flex-col justify-center mt-5 sm:mt-0 sm:p-5 sm:col-span-2">
                <p class="text-lg font-bold">Kagchi</p>
                <p class="mb-4 text-xs text-gray-800">Backend Developer</p>
                <!-- <p class="mb-4 text-sm tracking-wide text-gray-800"></p> -->
                <div class="flex items-center space-x-3">
                    <a class="text-gray-500 cursor-pointer hover:opacity-80" href="https://discordapp.com/users/499021389572079620">
                        <i class="fab fa-discord m-1"></i>
                    </a>
                    <a class="text-gray-500 cursor-pointer hover:opacity-80" href="https://github.com/KagChi">
                        <i class="fab fa-github m-1"></i>
                    </a>
                    <a class="text-gray-500 cursor-pointer hover:opacity-80" href="https://kagchi.me/">
                        <i class="fa fa-globe m-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>