<section id="faq" class="container max-w-screen-xl min-h-full m-auto px-6 lg:px-8 py-6 f-rubik">
    <h1 class="mb-8 text-xl font-bold md:text-3xl">Frequently Asked Questions</h1>

    <!-- General -->
    <h2 class="mb-4 text-lg font-bold md:text-xl">1. General</h2>
    <div class="grid grid-cols-1 gap-0 text-sm md:grid-cols-2 md:gap-5 mb-4">
        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq7" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                What payment methods do you accept?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq7">
                We accept a variety of payment methods. For international payments we accept payments via PayPal and Skrill. For the Indonesian region, we accept more payment methods such as Bank Transfer, E-Wallet, and convenience stores. However, we do not accept any
                payment in the form of credit.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq8" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                Do you accept product requests?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq8">
                We accept special product requests as long as the product meets our shop rules and we can get the product. The price can be discussed with the store admin. Please contact us via the Support Page.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq9" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                Do you have a warranty for the products you sell?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq9">
                We provide a warranty for each product, but each product has a different warranty period. You can see it in the product description.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq10" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                Is the product you are selling legal?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq10">
                Some yes, but some are "special packages", we also can't verify every product available because some of them come from other stores. However, we still have a guarantee for the products you buy as protection so you don't get unwanted things.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq11" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                Can I use other payment methods that are not listed?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq11">
                You can contact us in advance for this matter, we will check it first. If possible, then you can use this payment method.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                What is the minimum amount to spend here?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                The minimum transaction is IDR 10,000 ($ 0.70). However, we do not set a minimum purchase for every product we offer.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                Do you provide free products / services?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                We do not provide this, but often we give giveaway for free. If you want it, please follow us on each of our social media.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                How long does the product delivery process take?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                We will process your purchase product as soon as possible, no later than 2x24 hours. However, if there are problems in ordering the product, we will contact you about this.
            </div>
        </div>
    </div>

    <!-- Server -->
    <h2 class="mb-4 text-lg font-bold md:text-xl">2. Server</h2>
    <h2 class="mb-4 font-normal text-base">a. General</h2>
    <div class="grid grid-cols-1 gap-0 text-sm md:grid-cols-2 md:gap-5 mb-4">
        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                What is Setup Price / Fee?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                Setup fee is an installation fee that is billed only in the first month for a new server. If you have a previous server and renew it before it expires, then you don't have to pay the installation fee again for the next month's extension.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                How can i control my own server?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                <u>Quoted From Contabo.com</u>
                <br><br>
                <!--  -->
                You get full root access (for Linux) or full administrator access (for Windows) to your Server. This means you can install any software you want on your Server.
                <br><br>
                <!--  -->
                For Linux remote access, please let us recommend the SSH client 'putty' - Windows server can be controlled via the 'Remote Desktop' client. Additionally, every VPS and Virtual Dedicated Server can be controlled via VNC by default.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                Are there any restrictions regarding the content or the software installations on my Server?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                <u>Quoted From Contabo.com</u>
                <br><br>
                <!--  -->
                In general, our Servers are unmanaged root servers. Our customers have exclusive access to their Servers. Provided that there are no violations against German law or our ToS (Terms of Service) we do not check what you are using your Server for.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                Is a reinstallation of the Operating System possible?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                You can perform reinstallations or boot a rescue system anytime for free. Please contact us via Help Page to do this.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                Can i upgrade my server package?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                Yes you can to that, you can upgrade to the next server package, but let us know when you needed it. Your monthly price will follow the newest one.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                Which dedicated IP is provided?

            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                All VPS hosting packages are provided with dedicated public IPv4 and IPv6 addresses.
            </div>
        </div>
    </div>

    <h2 class="mb-4 font-normal text-base">b. Virtual Private Server</h2>
    <div class="grid grid-cols-1 gap-0 text-sm md:grid-cols-2 md:gap-5 mb-4">
        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                What is Virtual Private Server?
            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                <u>Quoted From Hostens.com</u>
                <br><br>
                <!--  -->
                VPS hosting allows you to host your website or application. VPS hosting is an affordable solution for website owners who have low to medium, or even high level traffic or for developers who are looking to create and expand software.
                <br><br>
                <!--  -->
                VPS hosting is a virtual private server located in a physical server in a data center. VPS is a virtualized environment with more possibilities to set up your own server's settings and manage resources. VPS server can be operated from a command line (terminal),
                alternatively, you can install any commonly used control panel.
            </div>
        </div>

        <div x-data="collapse()" class="px-4 mb-4 bg-gray-100 rounded">
            <button x-spread="trigger" class="flex items-center justify-start w-full py-4 pr-1 font-bold text-left text-gray-800 outline-none hover:text-primary focus:text-primary focus:outline-none" role="button" aria-controls="faq12" aria-expanded="false">
                <svg :class="{ 'rotate-90': open }" class="flex-none w-4 h-4 mr-2 transition transform"
                    aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                What is the difference between a Dedicated Server and VPS?

            </button>
            <div x-spread="collapse" x-cloak class="pb-5 ml-6 text-gray-700" id="faq12">
                <u>Quoted from Hostens.com</u>
                <br><br>
                <!--  -->
                A dedicated server is a physical server that is located in the data center. VPS server is a part of a dedicated physical server with its operating system and virtual resources like RAM, disk space and CPU.
            </div>
        </div>
    </div>
</section>