@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap');
@font-face {
    font-family: moontime;
    src: url(../fonts/MoonTime.ttf);
}

::-moz-selection {
    /* Code for Firefox */
    color: #E88668;
    background: white;
}

::selection {
    color: #E88668;
    background: white;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

* {
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none;
}


/* LANGUAGE SELECT*/

.languageSelect {
    position: fixed;
    z-index: 9999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
}

.languageSelect div {
    background: white;
    max-width: 30%;
    padding: 20px 40px;
    border-radius: 12px;
    font-family: 'Rubik', sans-serif;
    color: #E88668;
    border: solid 4px rgba(224, 166, 99, 0.658);
    text-align: center;
}

.languageSelect div h2,
.languageSelect div h4 {
    margin: 0;
}

.languageSelect div h2 s {
    color: #a84f33;
}

.languageSelect div h4 {
    color: #5f5f5f
}

.languageSelect div button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 12px;
    /* filter: drop-shadow(1px 2px 1px rgb(131, 126, 126)); */
    box-shadow: 3px 3px 2px rgb(131, 126, 126);
    border: none;
    transition: 0.4s;
}

.languageSelect div button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(131, 126, 126);
    opacity: 0.8;
}

.languageSelect div button:focus {
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .languageSelect div {
        max-width: 60%;
    }
}


/* NAV */

nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-sizing: border-box;
    z-index: 999;
}

nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.6s;
}

nav .logo:hover {
    cursor: pointer;
    transform: scale(1.08);
}

nav .logo img {
    height: 50px;
    filter: drop-shadow(1px 2px 2px rgb(131, 126, 126));
}

nav .logo .title {
    top: 10px;
    font-family: 'moontime';
    font-size: 40px;
    color: white;
    text-shadow: 1px 2px 5px rgb(131, 126, 126);
    margin: 0 10px;
}

nav .list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .list ul li {
    float: left;
    padding: 0 10px;
    color: white;
    font-family: 'Rubik', sans-serif;
    transition: 0.6s;
    text-shadow: 1px 2px 5px rgb(131, 126, 126);
}

nav .list ul li i {
    display: none;
}

nav .list ul li:hover {
    cursor: pointer;
    transform: scale(1.2);
}

nav .quick {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav .quick a {
    background: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: larger;
    transition: 0.6s;
    text-shadow: 1px 2px 5px rgb(131, 126, 126);
}

nav .quick a:hover {
    transform: scale(1.2);
    cursor: pointer;
}

nav .quick a.menu-button {
    display: none;
}

@media screen and (max-width: 426px) {
    nav {
        padding: 10px 25px;
    }
    nav .logo .title {
        display: none;
    }
    nav .list {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        display: none;
    }
    nav .list ul li {
        float: none;
        padding: 10px 25px;
        background: #ffeeca;
        margin: 10px;
        color: #6f9d2b;
        box-shadow: 1px 2px 5px rgb(131, 126, 126);
        border-radius: 10px;
        text-shadow: none;
    }
    nav .list ul li i {
        display: initial;
        padding-right: 7px;
    }
    nav .list ul li:hover {
        transform: scale(1.02);
    }
    nav .quick a.menu-button {
        display: initial;
        padding-left: 25px;
        font-size: xx-large;
    }
}


/* header */

header {
    height: 100%;
    width: 100%;
    background: rgb(255, 147, 89);
    background: linear-gradient(0deg, rgba(255, 147, 89, 1) 0%, rgba(253, 187, 45, 1) 55%);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    header {
        height: 140%;
    }
}

header div#separator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    min-width: 100%;
    overflow: hidden;
    z-index: 999999;
}

header div#separator2 {
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 100px;
    min-width: 100%;
    overflow: hidden;
    z-index: 99999;
}

header .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    padding: 10% 0 10% 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header .row section {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 3%;
}

@media only screen and (max-width: 500px) {
    header .row section {
        flex: initial
    }
}

header .row section.left {
    align-items: center;
    justify-content: center;
    width: 100%;
}

header .row section.left img {
    max-width: 400px;
    min-width: 220px;
    width: 100%;
    height: auto;
    filter: drop-shadow(8px 8px 1px #ffbf5f);
}

@media only screen and (max-width: 768px) {
    header .row section.left img {
        max-width: 280px;
    }
}

header .row section.right {
    align-items: flex-start;
    justify-content: center;
    color: #Fff;
    position: relative;
}

header .row section.right svg#top-left {
    position: absolute;
    width: 150px;
    top: 50px;
    left: -80px;
}

header .row section.right svg#bottom-right {
    position: absolute;
    width: 250px;
    bottom: 10px;
    right: -70px;
}

header .row section.right h1 {
    font-family: 'Rubik', sans-serif;
    font-size: calc(30px + 2vw);
    margin: 0;
    z-index: 999;
}

header .row section.right h1 span {
    background: rgba(255, 255, 255, 0.664);
    color: #E88668;
}

header .row section.right p {
    z-index: 999;
    font-family: 'Karma', serif;
    font-size: 17px;
}

header .row section.right button {
    padding: 12px 20px;
    color: #E88668;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.432);
    border: solid 4px white;
    font-family: 'Rubik', sans-serif;
    transition: 0.8s;
    z-index: 999;
}

header .row section.right button:hover {
    background: white;
    cursor: pointer;
    color: #e97b59;
}

header .flyingclouds {
    position: absolute;
    padding-top: 150px;
    top: 0;
    left: 0;
}

header .flyingclouds .cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

header .flyingclouds .cloud:before,
header .flyingclouds .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

header .flyingclouds .cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

header .flyingclouds .x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

header .flyingclouds .x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

header .flyingclouds .x3 {
    left: -250px;
    top: -200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

header .flyingclouds .x4 {
    left: 470px;
    top: -250px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

header .flyingclouds .x5 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}


/* MAIN */

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #intro {
    width: 100%;
    height: auto;
    overflow: hidden;
}

main #intro .clear {
    width: 100%;
}

main #intro .inside {
    height: 300px;
    background: #ffeeca;
    color: #fff;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #intro .inside::after {
    height: 400px;
}

main #intro .inside .main {
    padding: 40px 30px;
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 40%;
    background: #6f9d2b;
    border-radius: 35px;
    max-width: 70%;
    text-align: center;
    box-shadow: 3px 3px 6px rgb(206, 202, 202);
}

@media screen and (max-width: 426px) {
    main #intro .inside .main {
        max-width: 90%;
    }
}

main #intro .inside .main span {
    padding: 0px 5px 15px 5px;
    font-size: 30px;
    color: yellow;
}

main #intro .inside .main h1 {
    font-family: 'Rubik', sans-serif;
    font-size: calc(2.6vw + 20px);
    margin: 0;
}

main #intro .inside .main p {
    font-size: calc(0.3vw + 14px);
    font-family: 'Karma';
    max-width: 70%;
}

@media screen and (max-width: 426px) {
    main #intro .inside .main p {
        max-width: 90%;
    }
}

main #intro .inside .main button {
    color: #6f9d2b !important;
    background: white;
    border: none;
    color: white;
    font-family: 'Rubik';
    padding: 10px 25px;
    border-radius: 15px;
    letter-spacing: 1px;
    transition: 0.6s;
}

main #intro .inside .main button:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}

main #intro .inside .main .floating-right-top {
    position: absolute;
    top: -65px;
    right: -60px;
    color: #80808061;
    font-size: 115px;
    mix-blend-mode: hard-light;
    /* text-shadow: 3px 3px 6px rgb(206, 202, 202); */
}

main #intro .inside .main .floating-left-bottom {
    position: absolute;
    bottom: -65px;
    left: -60px;
    color: yellow;
    font-size: 115px;
    text-shadow: 3px 3px 6px rgb(139 121 121 / 44%);
}

main #intro .inside .wave {
    background: linear-gradient(to bottom, #ffeeca, #f6dfad);
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

main #intro .inside .wave::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 16px;
    background-size: 50px;
    background-image: radial-gradient(circle at 26px -16px, transparent 31px, white 32px);
}


/* Footer [https://codepen.io/slstudios/pen/XbzQVK] 
======================== */

footer {
    background: #E88668;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* [Footer left] */

footer .footer-left {
    width: 40%;
}


/* The company logo */

footer h1 {
    color: #ffffff;
    font-family: 'moontime';
    margin: 0;
    font-size: 55px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.48);
}

footer h1 img {
    height: 55px;
    filter: drop-shadow(4px 3px 2.3px rgba(0, 0, 0, 0.48));
}


/* Footer links */

footer .footer-links {
    color: #ffffff;
    text-align: center;
    margin: 20px 0 12px;
    padding: 0;
}

footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

footer .footer-links a:not(:first-child):before {
    content: " • ";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

footer .footer-links a:hover {
    opacity: 0.6;
}

footer .footer-company-name {
    color: #33383b;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

footer .footer-credits {
    text-align: center;
    font-family: 'Karma';
    font-size: small;
    padding: 3px 0;
    font-weight: 500;
    color: #fff;
}


/* [Footer Center] */

footer .footer-center {
    width: 35%;
}

footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 15px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px;
    vertical-align: middle;
}

footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
    min-width: 200px;
}

footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

footer .footer-center p a {
    text-decoration: underline;
}


/* [Footer Right] */

footer .footer-right {
    width: 20%;
}

footer .footer-company-about {
    line-height: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    font-family: 'karma';
}

footer .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

footer .footer-icons {
    margin-top: 25px;
}

footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    transition: 0.6s;
}

footer .footer-icons a i {
    line-height: 35px;
}

footer .footer-icons a:hover {
    opacity: 0.6;
}

@media (max-width: 880px) {
    footer {
        font: bold 14px sans-serif;
    }
    footer .footer-left,
    footer .footer-center,
    footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    footer .footer-center i {
        margin-left: 0;
        margin-right: 0;
    }
}


/* ANIMATION CSS */

.fadein {
    animation: fadein 2s ease-out 0s;
}

.slideup {
    animation: slideup 1.5s ease-out 0s;
}

.float {
    animation: float 6s ease-in-out infinite;
}


/* ANIMATION KEYFRAMES */

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideup {
    0% {
        opacity: .5;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}