@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap');
@font-face {
    font-family: moontime;
    src: url(../fonts/MoonTime.ttf);
}

::-moz-selection {
    /* Code for Firefox */
    color: #E88668;
    background: white;
}

 ::selection {
    color: #E88668;
    background: white;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

*:focus,
*:active {
    outline: none;
}


/* LANGUAGE SELECT*/

.languageSelect {
    position: fixed;
    z-index: 9999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
}

.languageSelect div {
    background: white;
    max-width: 30%;
    padding: 20px 40px;
    border-radius: 12px;
    font-family: 'Rubik', sans-serif;
    color: #E88668;
    border: solid 4px rgba(224, 166, 99, 0.658);
    text-align: center;
}

.languageSelect div h2,
.languageSelect div h4 {
    margin: 0;
}

.languageSelect div h2 s {
    color: #a84f33;
}

.languageSelect div h4 {
    color: #5f5f5f
}

.languageSelect div button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 12px;
    /* filter: drop-shadow(1px 2px 1px rgb(131, 126, 126)); */
    box-shadow: 3px 3px 2px rgb(131, 126, 126);
    border: none;
    transition: 0.4s;
}

.languageSelect div button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(131, 126, 126);
    opacity: 0.8;
}

.languageSelect div button:focus {
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .languageSelect div {
        max-width: 60%;
    }
}


/* NAV */

nav {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: auto;
    filter: drop-shadow(1px 2px 5px rgb(131, 126, 126));
    max-height: 70px;
    padding: 20px;
    transition: 0.8s;
    box-sizing: border-box;
    z-index: 9999999;
}

nav .bar:hover {
    cursor: pointer;
    color: #fff;
    background: #414141;
}

nav .bar {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: #E88668;
    padding: 10px 20px;
    color: #Fff;
    transition: 0.8s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.48);
}

nav .title {
    font-family: 'moontime';
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(232, 134, 104);
    background: linear-gradient(90deg, rgba(232, 134, 104, 1) 0%, rgba(236, 151, 125, 1) 100%);
    height: 100%;
    color: #fff;
    border-radius: 0 7px 7px 0;
    padding: 10px 30px;
    transition: 1s;
    opacity: 0;
    width: 0%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.48);
}


/* header */

header {
    height: 100%;
    width: 100%;
    background: rgb(255, 147, 89);
    background: linear-gradient(0deg, rgba(255, 147, 89, 1) 0%, rgba(253, 187, 45, 1) 55%);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    header {
        height: 140%;
    }
}

header .title {
    position: absolute;
    top: 10px;
    font-family: 'moontime';
    font-size: 80px;
    color: white;
    filter: drop-shadow(1px 2px 5px rgb(131, 126, 126));
    opacity: 1;
    transition: opacity 1s;
}

header .title.hide {
    opacity: 0;
}

header div#separator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    min-width: 100%;
    overflow: hidden;
    z-index: 999999;
}

header div#separator2 {
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 100px;
    min-width: 100%;
    overflow: hidden;
    z-index: 99999;
}

header .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    padding: 10% 0 10% 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header .row section {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 3%;
}

@media only screen and (max-width: 500px) {
    header .row section {
        flex: initial
    }
}

header .row section.left {
    align-items: center;
    justify-content: center;
    width: 100%;
}

header .row section.left img {
    max-width: 400px;
    min-width: 220px;
    width: 100%;
    height: auto;
    filter: drop-shadow(8px 8px 1px #ffbf5f);
}

@media only screen and (max-width: 768px) {
    header .row section.left img {
        max-width: 280px;
    }
}

header .row section.right {
    align-items: flex-start;
    justify-content: center;
    color: #Fff;
    position: relative;
}

header .row section.right svg#top-left {
    position: absolute;
    width: 150px;
    top: 50px;
    left: -80px;
}

header .row section.right svg#bottom-right {
    position: absolute;
    width: 250px;
    bottom: 10px;
    right: -70px;
}

header .row section.right h1 {
    font-family: 'Rubik', sans-serif;
    font-size: calc(30px + 2vw);
    margin: 0;
    z-index: 999;
}

header .row section.right h1 span {
    background: rgba(255, 255, 255, 0.664);
    color: #E88668;
}

header .row section.right p {
    z-index: 999;
    font-family: 'Karma', serif;
    font-size: 17px;
}

header .row section.right button {
    padding: 12px 20px;
    color: #E88668;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.432);
    border: solid 4px white;
    font-family: 'Rubik', sans-serif;
    transition: 0.8s;
    z-index: 999;
}

header .row section.right button:hover {
    background: white;
    cursor: pointer;
    color: #e97b59;
}

header .flyingclouds {
    position: absolute;
    padding-top: 150px;
    top: 0;
    left: 0;
}

header .flyingclouds .cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

header .flyingclouds .cloud:before,
header .flyingclouds .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

header .flyingclouds .cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

header .flyingclouds .x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

header .flyingclouds .x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

header .flyingclouds .x3 {
    left: -250px;
    top: -200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

header .flyingclouds .x4 {
    left: 470px;
    top: -250px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

header .flyingclouds .x5 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}


/* ANIMATION CSS */

.fadein {
    animation: fadein 2s ease-out 0s;
}

.slideup {
    animation: slideup 1.5s ease-out 0s;
}

.float {
    animation: float 6s ease-in-out infinite;
}


/* ANIMATION KEYFRAMES */

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideup {
    0% {
        opacity: .5;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}