<section class="w-full relative" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
    <section class="absolute w-full h-full top-0 left-0 bg-black bg-opacity-70 z-10"></section>
    <section class="px-4 py-24 mx-auto max-w-7xl f-rubik relative z-20">
        <div class="grid items-center w-full grid-cols-1 gap-10 mx-auto md:w-4/5 lg:grid-cols-2 xl:gap-32">
            <div>
                <h1 class="mb-4 text-2xl font-bold text-left text-white md:text-4xl">
                    Have Any Question?
                </h1>

                <p class="mb-5 text-base text-left text-gray-300 md:text-xl">Feel free to ask us if you had any question. We will reply to you as soon as possible.</p>

                <a href="mailto:support@foxxy.id" class="w-full lg:mx-0 mt-4 text-gray-800 bg-white font-bold rounded-md py-2.5 px-6 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 hover:bg-opacity-80 duration-300 ease-in-out text-left mr-4 lg:mr-4">
                    <i class="fa fa-envelope pr-2"></i> Email
                </a>
            </div>
        </div>
    </section>
</section>

<section class="container max-w-screen-xl mx-auto px-6 lg:px-8 py-12 f-rubik mt-8">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto f-rubik">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">Need a faster response? Join our Discord Server.</h1>
        <a href="https://discord.gg/TXZx7dvHsU" class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">
            <i class="fab fa-discord pr-2"></i> Discord
        </a>
    </div>
</section>

<section class="container max-w-screen-xl mx-auto px-6 lg:px-8 py-12 f-rubik">
    <div class="max-w-screen-lg sm:mx-auto f-rubik">
        <div class="flex flex-col items-start py-4 transition duration-300 transform rounded sm:px-4 lg:flex-row">
            <div class="mb-4 lg:mb-0 flex-grow">
                <h5 class="mb-4 text-xl font-bold leading-none sm:text-2xl">
                    Frequently Asked Question
                </h5>
                <div class="relative pr-8">
                    <p class="text-base text-gray-700 md:text-lg">
                        Here is a collection of frequently asked questions. Please kindly check our FAQ first before asking us any question.
                    </p>
                </div>
            </div>
            <div class="flex justify-start w-56 lg:justify-end">
                <a href="faq" rel="page" class="inline-flex items-center font-semibold transition-colors duration-200 text-yellow-500 hover:text-yellow-600">
                    See FAQ
                    <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
                        <path
                            d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex flex-col items-start py-4 transition duration-300 transform rounded sm:px-4 lg:flex-row">
            <div class="mb-4 lg:mb-0 flex-grow">
                <h5 class="mb-4 text-xl font-bold leading-none sm:text-2xl">
                    Privacy Policy
                </h5>
                <div class="relative pr-8">
                    <p class="text-base text-gray-700 md:text-lg">
                        See what data we take and how we proceed with it.
                    </p>
                </div>
            </div>
            <div class="flex justify-start w-56 lg:justify-end">
                <a href="privacy-policy" rel="page" class="inline-flex items-center font-semibold transition-colors duration-200 text-yellow-500 hover:text-yellow-600">
                    See Privacy Policy
                    <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
                        <path
                            d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex flex-col items-start py-4 transition duration-300 transform rounded sm:px-4 lg:flex-row">
            <div class="mb-4 lg:mb-0 flex-grow">
                <h5 class="mb-4 text-xl font-bold leading-none sm:text-2xl">
                    Terms of Service
                </h5>
                <div class="relative pr-8">
                    <p class="text-base text-gray-700 md:text-lg">
                        You can check the regulations for our products here.
                    </p>
                </div>
            </div>
            <div class="flex justify-start w-56 lg:justify-end">
                <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-yellow-500 hover:text-yellow-600">
                    Learn more
                    <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
                        <path
                            d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>