<!-- Addon Stylesheet -->
<style></style>

<!-- Form -->
<section class="container max-w-screen-sm mx-auto px-6 lg:px-8 py-6 f-rubik">
    <div class="mb-8 text-center">
        <img class="mx-auto max-h-28 w-auto" src="assets/img/logo.svg">
        <h1 class="my-3 text-3xl font-bold">Forgot Password</h1>
    </div>
    <form onsubmit="return false;" class="space-y-12">
        <div class="space-y-4">
            <div>
                <label for="email" class="block mb-2 text-sm">Email address</label>
                <input required type="email" name="email" id="email" placeholder="Email" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
            </div>
        </div>
        <div class="space-y-2">
            <div>
                <button type="submit" class="w-full px-8 py-3 rounded-md bg-yellow-600 text-gray-50">Send Email</button>
            </div>
            <p class="text-sm text-center text-gray-600">Don't have an account yet?
                <a href="components/forms/register.html" rel="modal:open" class="hover:underline text-yellow-600">Sign up</a>.
            </p>
        </div>
    </form>
</section>

<script>
    account.session();

    $('form').submit(function() {
        form.send(this, 'forgot-password', {
            redirect: 'home',
            alert: 'New password has been sent to your mailbox!'
        });

        event.preventDefault();
    })
</script>